[2016-10-05 23:59] CharliePoole opened #1 "Can't build on Linux"
The project for the extension has a post-build step that copies files to create a "pseudo-package" install so we can run integration tests. That step contains Windows paths that break the build on Linux. We'll have to find some other way to do it either by invoking a script that works on both environments or limiting the integration tests to the command-line builds that use Cake. For now, the Trav

[2016-10-06 00:00] CharliePoole opened #2 "Set up standard labels and pipelines"
Define labels and pipelines for this project to match other projects.

[2016-10-06 00:08] CharliePoole opened #3 "Change API reference to released version"
The nuget reference to NUnit.Engine.API refers to a dev release on myget because there is as yet no production release of the API. Once the 3.5 engine is released, this should be changed for each extension.

[2016-10-20 10:26] NikolayPianikov opened #5 "NUnit 3 console should produce xml events for ITestEventListener which contain unique id in the scope of all test agents for NUnit 2 tests"
See new issue https://github.com/nunit/teamcity-event-listener/issues/28
See issue https://github.com/nunit/nunit-console/issues/37
See PR https://github.com/nunit/nunit-console/pull/38

[2016-10-20 11:27] NikolayPianikov commented on #5
@CharliePoole where I can get last nuget packages for integration tests?

[2016-10-20 19:48] rprouse commented on #5
Our MyGet feed should contain master builds for each project. If any project is missing, please let us know. The feed addresses are;

v2 - https://www.myget.org/F/nunit/api/v2
v3 - https://www.myget.org/F/nunit/api/v3/index.json

[2016-10-20 20:37] CharliePoole commented on #5
@NikolayPianikov But note that "latest" means dev builds, not the latest production releases, which are not on the myget feed at all.

[2016-10-20 21:06] CharliePoole commented on #5
@rprouse Do we want to mirror our nuget packages on myget and just use myget for our dev work?

[2016-10-20 23:17] rprouse commented on #5
My mistake, I thought we were now posting master builds to MyGet automatically.

@CharliePoole I don't see MyGet as a place to mirror our packages, but I thought it could be a step up from AppVeyor CI builds, possibly builds of master after every merge so that the various projects always have access to the latest for integration testing and development without having to configure a feed for each p

[2016-10-20 23:55] CharliePoole commented on #5
@rprouse I'm not sure we are talking about the same thing. Every time we merge into master, appveyor builds the result of that merge. It is uploaded to myget using a -dev suffix. Production releases, which are built manually at this time, are not uploaded to myget but to nuget.org - you just did one for nunit.framework and I did one for nunit-console.

If by "latest" @NikolayPianikov means the lat

[2016-10-21 02:48] rprouse commented on #5
@CharliePoole it sounds like we are talking about the same things then. What you are describing is how I thought it worked. When @NikolayPianikov asked for the `last nuget packages for integration tests` I assumed that he knows where the released versions are so therefore thought he wants the latest builds of master to test.

At any rate, I think @NikolayPianikov has the info he needs.

[2016-11-09 21:30] #2 closed, assigned to CharliePoole

[2016-11-17 08:55] philipcarlsen opened #7 "Explicitness of tests is ignored in the presence of a negated filter"
It seems, in a project referencing nunit.framework v2.6, that nunit3-console when given "--where=cat != SomeCategory" at the command line also runs tests marked Explicit. In the absence of any filter, tests marked Explicit are not run.

I'm filing the issue in the nunit-v2-framework-driver project rather than the nunit-console project as it seems the most likely place for the error. I would assume

[2016-11-17 13:11] CharliePoole commented on #7
This could be a bug in
1. The V2 driver
2. The embedded V2 code that runs the tests.
3. The 2.6 framework

Since only item 1 is currently maintained, let's hope that's it.:-)

An easy test would be to try it under the 2.6.4 console using the --exclude option.

[2016-11-22 08:54] philipcarlsen commented on #7
I can verify that the 2.6.4 runner correctly abstains from running Explicit tests.

I wasn't aware that item 1. and item 2. was separate things. I thought only the V2 driver was involved in detecting and running tests.

I think I have enough to go on for looking into the V2 driver (though I have yet to setup a local development environment for NUnit), but I'm not so sure about the embedded test ru

[2016-11-22 17:38] CharliePoole commented on #7
@philipcarlsen That's very useful info.

The V2 driver contains code that references and uses assemblies from the NUnit 2.6.4 distribution, which are bundled with the extension. You won't find any source code for these assemblies in the extension.

Since these are the same assemblies distributed with NUnit 2.6.4, that lets us know that they are capable of handling Explicit tests correctly. It's a

[2016-11-25 15:22] philipcarlsen commented on #7
Okay. I think I've narrowed the problem down to the way that the v2-framework-driver constructs thet TestFilter (of nunit.core.interfaces) from XML, which uses "TestFilter.FromXML".

TestFilter.FromXML does not account for the toplevel-ness of not-filters, which just results in a NotFilter with toplevel=false, and the resulting NotFilter thus no longer denies explicit tests.

[2016-11-25 16:54] CharliePoole commented on #7
I'm on my phone and not looking at the code but that makes sense. Did you plan to do a PR for this?

[2016-11-28 07:22] philipcarlsen commented on #7
Yes :-)

[2016-11-28 16:49] CharliePoole commented on #7
I invited you as a contributor so you can be assigned the issue.

[2016-11-29 07:56] philipcarlsen commented on #7
That's great :-) However, I'm not sure if I need to do something to acknowledge the invite. I can't seem to find any indication of this in the github ui.

[2016-11-29 09:43] ChrisMaddock commented on #7
I'm not sure of the rest of the process, but it looks like I can assign you the issue! 😄

[2016-11-29 14:36] rprouse commented on #7
@philipcarlsen try going to https://github.com/nunit and see if you are prompted to accept the invitation to the contributors team. I checked and you are still pending.

[2016-11-29 15:51] CharliePoole commented on #7
@ChrisMaddock Maybe being invited is sufficient for that purpose!

[2016-11-30 06:27] philipcarlsen commented on #7
Visiting the nunit-organisation github page did the trick :-)

[2016-12-06 11:56] CharliePoole commented on #7
Fixed in PR #8

[2016-12-06 11:56] #7 closed, assigned to philipcarlsen

[2017-01-10 20:16] rprouse commented on #5
This was completed with #6

[2017-01-10 20:16] #5 closed, assigned to nobody

[2017-01-10 20:21] rprouse commented on #3
I will do this as part of the release.

[2017-01-13 09:55] #3 closed, assigned to rprouse

[2017-02-07 11:00] busterwood opened #12 "How does this work?"
How do I use this?  I've tried dropping the DLLs into my path but it made no difference.  Do I need to configure something?

[2017-02-07 11:08] ChrisMaddock commented on #12
You need a `.addins` file in the same directory as the engine, similar to the one at the link below. The path in the .addins file should contain a filepath pointing to the location of nunit.v2.driver.dll.

https://github.com/nunit/nunit-v2-framework-driver/blob/master/nunit.v2.driver.addins

Are you using the NUnit Console? How are you installing it - the addin should install automatically, if you

[2017-03-02 23:27] flcdrg opened #13 "Are v2 addins supported?"
Does the driver provide backwards compatibility for NUnit 2 addins?

I have a test assembly that has an ISuiteBuilder implementation. It would be great to be able to run this assembly using the NUnit 3 test runner, but it doesn't appear to support this at the moment.

[2017-05-15 09:17] #12 closed, assigned to nobody

[2017-06-05 12:06] ChrisMaddock opened #14 "Remove nunit.v2.driver.addins?"
I don't understand why the NuGet package for this extension includes it's own `.addins` file. None of our other extensions do.

It wouldn't be picked up by any of the default location methods, as far as I can tell, and I'm not aware of anything which makes this extensions need different location logic to any of our others.

Was it a legacy way of installing? Should i be removed?

[2017-06-05 13:47] CharliePoole commented on #14
No it belongs there because the extension directory includes other support assemblies, which are not extensions. It avoids spending extra time scanning those assemblies and, in rare cases, throwing an exception.

[2017-06-05 13:55] CharliePoole commented on #14
The file is found when another .addins file refers to the directory. This is exactly the case when the runner itself is installed as a nuget package.

When repackaging, you need to figure out your own set of references to allow all extensions to be found. You could include such addins in one strategy or exclude them in a different strategy. You could also use them when deciding what to include in

[2017-06-05 14:59] ChrisMaddock commented on #14
Ah ok - I didn't realise .addins files could be chained. Cool, thanks!

[2017-06-05 14:59] #14 closed, assigned to nobody

[2017-07-19 19:37] owenniblock opened #15 "Event Listener and Report output incorrect or nunit2 test runs"
When I'm running nunit2 tests using the nunit v2 framework driver - the console outputs the correct number of passes and failures, but the XML sent to both the Event Listener and the xml result output is incorrect.

For example:
I have 3 tests which output:
Test Run Summary
  Overall result: Failed
  Test Count: 3, Passed: 1, Failed: 2, Warnings: 0, Inconclusive: 0, Skipped: 0
    Failed Tests - F

[2017-07-19 19:48] CharliePoole commented on #15
I edited your description so your XML displays.

[2017-07-19 20:16] CharliePoole commented on #15
Looking at the filename in your last example, I gather these are xamarin tests. If that's the case, the NUnit engine (and hence the console runner) would not know how to run them. Can you clarify how you are running the tests?

[2017-07-19 20:22] owenniblock commented on #15
These are just standard tests (I'm working at Xamarin hence the namespace). For example:

[code]

I'm running the tests using the console:
[code]

[2017-07-19 20:45] CharliePoole commented on #15
The results are interesting. The nunit2 format output is actually created from the nunit3 output. The nunit3 output is generated by the extension from the v2 object model. That suggests an error in creating the nunit3 output followed by a compensating error in reformatting to nunit2. Like a perfect storm of errors.

[2017-07-19 20:53] owenniblock commented on #15
Interesting - so the correct data must be in there somewhere :) Sounds like it's just not getting mapped correctly.

EDIT: Looking at the code in the v2 report writer - it's mapping based on the "result" attribute on each test case. I'll have a look and see how it's totting up the values in the console.

[2017-07-27 09:45] CharliePoole opened #16 "Integrate creation of chocolatey package into the build script"
A Chocolatey package now exists for the extension, having been created using the binaries from the 3.6 release. See nunit/nunit-console#253 and nunit/nunit-project-loader#8.

[2017-07-30 19:43] #16 closed, assigned to CharliePoole

[2017-09-19 21:11] jpierson opened #20 "Is it possible to use this driver along with NUnit.ConsoleRunner?"
I was considering making use of the [NUnit.ConsoleRunner](https://www.nuget.org/packages/NUnit.ConsoleRunner/) nuget in order to make each project's console runner configurable per project in our custom build system but if I go this route it doesn't look like there is any obvious way to integrate this V2 driver to run on projects that contain NUnit 2.x tests. Am I right? Is there a corresponding c

[2017-09-19 23:13] rprouse commented on #20
This project does allow for the running of NUnit 2 tests from the NUnit 3 console. If you install NUnit.ConsoleRunner and NUnit.Extension.NUnitV2Driver, it will add the ability to run your NUnit 2 tests. Alternatively, you can install just NUnit.Console which pulls in the v2 driver and other common extensions.

For more information, I wrote a blog post explaining the difference between the various

[2017-09-19 23:13] #20 closed, assigned to nobody

[2017-11-27 14:00] aeyaey opened #21 "Explicitness of tests is ignored in the presence of a filter with adding multiple negated categories"
When using a filter like the one mentioned below, tests marked with ExplicitAttribute (but without any of the mentioned categories) is selected. This is unexpected.
When using a filter with only a single negated category, no ExplicitAttribute marked tests is selected - as expected.

When using the nunit3 framework the filter works a expected.
[code]
resulting in:
[code]
There is a rather hackish w

[2017-11-27 14:11] CharliePoole commented on #21
It's not surprising that this bug is present because we had to fix it in NUnit 3, so it was probably present in NUnit V2. The V2 framework driver actually uses the NUnit V2 assemblies so it would naturally have the same problem.

Workaround might be to use --where `"!(cat == Db || cat == UnitTest)"`. No guarantees there, however.

Two ways to fix this if we want to...

1. The adapter could theoret

[2017-11-27 14:13] jnm2 commented on #21
If someone is willing to contribute a fix, I'd prefer the fix to be in the correct place (2).

[2017-11-27 14:35] aeyaey commented on #21
The workaround @CharliePoole proposes seems to work. Thanks a lot.

I'm not totally sure what you mean with V2 assemblies. But when excluding multiple categories in Nunit 2.6.4, we use the /exclude command line option:
`/exclude:"Db,UnitTest"`, and that worked fine too.

[2017-11-27 15:03] CharliePoole commented on #21
Sorry to confuse... What I'm saying is this...

The filter code in V3 comes from V2. It had an error we had to fix, but of course, it was never fixed in the original (V2) code. The error is not triggered by use of the /Exclude parameter because it actually produces the filter structure I suggested as a workaround... !(a or b) rather than !a and !b. In fact, in V2 it's very hard to produce the bug,

[2017-11-28 08:34] mikkelbu commented on #21
I actually could live with option (1), since I don't think that many people are going to need this, and I think that "including their source in the driver itself" sounds complicated for such an issue (@CharliePoole do you have any idea of how large/difficult the fix is, if we go for solution (2)?)

[2017-11-28 09:52] CharliePoole commented on #21
@mikkelbu For (1) I said "theoretically" meaning "I have no idea how to do it." 😃

For (2) my working assumption is that we can port changes we made to the same code in NUnit 3 back to NUnit 2, but I haven't checked on that. I do know that the NUnit 3 filter code started out the same as the V2 code and that it now works correctly.

[2018-04-28 11:31] Almewty commented on #15
I ran into the same problems and decided to look at the code.
I fixed it in my fork [here](https://github.com/Almewty/nunit-v2-framework-driver/commit/e22230f788c83535b8a8ee51be3d35a438ec8fc6) but I am not too sure if it does what it should do because I'm not that familiar with all the States of NUnit.
Feedback would be appreciated!

[2018-04-29 22:21] CharliePoole commented on #15
Rather than checking the full `ResultState` you should probably just look at the `TestStatus` component. Its values map directly to the four attributes that need to be set.

[2018-04-30 09:18] Almewty commented on #15
Thanks for the advice!
I didn't really find a way to get access to the `TestStatus` component so I at least used the same logic to determine the state [here](https://github.com/Almewty/nunit-v2-framework-driver/commit/be1f561ec7a1c77e23f796d419abd45d4a3d023c). The only way I found was via `TestContext.Result.State`. But I could not find a way to get a `TestContext`.
But now that I know that there

[2018-05-01 01:07] CharliePoole commented on #15
AH! Apologies... I forgot you are dealing with a V2 `ResultState`, which is nothing but an enum. In NUnit 3, that becomes a class with Status, Label and Site properties.

I think you should handle them consistent with how we translate to NUnit 3 result states in the `GetTranslatedResultState` method. I think you have done that with the sole exception of `NotRunnable`, which NUnit 3 treats as faile

[2018-05-01 03:30] CharliePoole opened #22 "Use NUnit V2 Core package rather than hard coded 2.6.4 binaries"
With the NUnit 2.6.6 release, I plan to put out a package with the nunit.core and nunit.core.interfaces assemblies. It's aimed specifically at the v2 framework driver as well as any other code that wants to use V2 at this low level.

I propose that once the package is created we use it here updating to 2.6.6. This opens the possibility of fixing an occasional bug that affects the v2 driver in the

[2018-05-01 14:18] CharliePoole commented on #15
Fixed by PR #23

[2018-05-01 14:18] #15 closed, assigned to Almewty

[2018-07-26 11:12] cyanite commented on #22
Very good idea. I've just done a personal build of nunit-console with a custom version of the v2 driver with updated nunit v2 libraries from that project, including my open pull request there, which we use to run our mixed v2-v3 suites at my workplace. It works great.

[2018-07-26 23:00] CharliePoole commented on #22
@cyanite There is some ongoing discussion with the NUnit Project team about where the V2 framework driver will be maintained and by whom. Hopefully that will be resolved soon and we can move ahead with this (or some other) plan. 😄

[2018-08-04 15:51] CharliePoole commented on #22
@nunit/engine-team I see two of you have given a thumbs up, but no comments from anyone. Our offline discussions about moving this project elsewhere seem to be at an impasse. Do you see any problems with this approach? Do you want a PR? Kindly use your words. 😃

[2018-08-04 18:31] ChrisMaddock commented on #22
PR sounds good to me. 👍🏻

[2018-08-04 18:45] jnm2 commented on #22
Agreed!

[2018-08-04 19:53] CharliePoole commented on #22
Started work but can't get permission from nuget.org to upload the NUnit.Core package, even though there is none by that name and I'm a holder of the prefix. Waiting to hear back from support.

[2018-08-06 21:36] CharliePoole commented on #22
@nunit/framework-and-engine-team It turns out that JetBrains has a de-listed package called NUnit.Core, which is the name I used for the package containing the V2 nunit.core and nunit.core.interfaces assemblies.

I think it's up to the @nunit/core-team to decide whether to pressure JetBrains to get rid of this package name. I'm inclined to change my naming to NUnitV2.Core but I'll wait for your fe

[2018-08-06 22:50] jnm2 commented on #22
I'd like us to end up in control of that package either way.

[2018-08-06 23:33] CharliePoole commented on #22
Do you know what it does? There's no actual info at https://nuget.org/packages/NUnit.Core and it hasn't been updated for three years.

[2018-08-06 23:43] jnm2 commented on #22
It's pretty barebones. This is a cool site that lets you browse the contents of every NuGet package:

https://www.fuget.org/packages/NUnit.Core

In particular see the assemblies list.

[2018-08-07 00:02] CharliePoole commented on #22
That's good to know about. I didn't want to bother downloading it to check, as I already only care about the name. Seems like they were trying to do something similar to what I've done, except they included the nunit.utill assembly as well. We stopped using it for the v2 framework driver ourselves since the engine handles all the stuff that was originally in nunit.util. IMO, we're really only conc

[2018-08-07 00:08] jnm2 commented on #22
Yes, sorry. The name is what's important to me to control.

We had consensus that we didn't want to use NUnitv2 for the framework package itself, so ideally we'd be consistent. I would hate to make you wait though. @nunit/core-team, can you weigh in on this? Which of you would be interested in talking to JetBrains? I'm willing but probably carry the least weight :D

[2018-08-07 12:33] ChrisMaddock commented on #22
I'm slightly apathetic to be honest.

We now own the 'nunit' prefix of NuGet, so all future such packages can't be created. This is a legacy NUnit 2 package, which is delisted - so, in my opinion, isn't a problem, other than the fact that Charlie wants to create this new package of the same name now.

I'd be happy with us going for either option - personally, I'd just rename as NUnitV2.Core, as th

[2018-08-07 14:31] CharliePoole commented on #22
I actually prefer NUnitV2.Core since it makes clearer what it does. I was using NUnit only because you guys preferred it.

[2018-08-07 14:33] CharliePoole commented on #22
@jnm2 As far as I have seen, nobody carries much weight with them.

[2018-08-07 14:34] jnm2 commented on #22
That makes sense. For the framework package, I like the fact that the ID is the same since that means you can't reference both v2 and v3 framework in the same project. But for the NUnit core assemblies you're distributing, side by side makes more sense?

[2018-08-07 15:35] CharliePoole commented on #22
@jnm2 It's a package for use by those writing V2 runners, not for general users. If somebody wanted to create a runner that handled both V2 and V3, then side-by-side would make sense but of course there is no `NUnit.Core` package anyway. We generally use "Core" to mean .NET Core in NUnit 3. That's the main reason I prefer `NUnitV2.Core`.

It is too bad that "Core" has so many overloaded meanings!

[2018-08-07 15:56] CharliePoole commented on #22
I'm going with NUnitV2.Core and will release it in 2.7, which you can see here: https://github.com/nunit-legacy/nunitv2/milestone/2.7

In this case, I'm using the minor version update to indicate that several components are being dropped, while still keeping it less than 3.0.

[2018-08-16 01:51] #22 closed, assigned to CharliePoole

[2019-02-14 19:30] ivanli opened #27 "Exploring tests with filter returns all tests"
`NUnit.Engine.ITestRunner.Explore(...)` does not obey the filter that is passed as argument to it and returns a list of all the tests within the assembly.

This behaviour is inconsistent with calling `NUnit.Engine.ITestRunner.Run(...)`, which obeys the filter as expected and only executes the tests which pass the filter.

[2019-06-01 20:32] CharliePoole opened #29 "V2 Driver does not support id filters"
This doesn't impact the console runner or VS adapter, which don't use id filters. In a GUI, they are the most natural thing to use.

If the GUI knew when it was running V2 tests, it could pass a different filter. However, it doesn't know that and we wouldn't want each runner to have to deal with this separately.

The problem is exacerbated by the fact that the exception generated is swallowed whol

[2019-06-04 08:15] CharliePoole commented on #29
@nunit/engine-team I've made a fix for this in the TestCentric project, to the extent that I"m reporting the error rather than failing silently. It would be cool if some of you would take a look at that PR (TestCentric/testcentric-gui#354) to see if it makes sense to port it here.

For a more final fix, either the V2 adapter or the V2 framework itself should be changed so that an id filter actuall

[2019-06-05 20:07] mikkelbu commented on #29
I don't think you are referring to the right PR, don't you mean TestCentric/testcentric-gui#354 ? Looking at the code I don't see a problem in porting it here (perhaps introducing a helper method to reduce the duplication of creating the attributes).

Regarding the final fix, then I think it should be solved in the framework, if the change is not too complex, but note that I know next to nothing a

[2019-06-05 20:19] CharliePoole commented on #29
@mikkelbu That's correct. I'll edit the description.

[2019-06-06 21:28] ChrisMaddock commented on #29
I'm not familiar with the v2 driver, does it reference the framework itself? As opposed to how the v3 driver works?

If it was v3, I would have assumed the fix should be in the driver, so the engine will continue to work with all 3.x versions of the framework. Does the v2 driver work differently?

[2019-06-06 23:52] CharliePoole commented on #29
The V2 driver uses two V2 assemblies, nunit.core and nunit.core.interfaces, but not the framework. Originally it had its own binary copies but now it uses a package from the nunit legacy project. When I say it could be fixed in the legacy release, I mean in nunit core, which is the part that works with all old versions of the framework.

I guess it makes the most sense to do this in the v2 driver

[2019-06-11 18:17] rprouse commented on #29
To me it seems like the driver is the best place to fix this since it is a V3 to V2 interface issue. Am I correct in thinking this would never be an issue with a legacy V2 runner?

[2019-06-11 18:42] CharliePoole commented on #29
I'd say that's correct. Legacy runners can use the UniqueName of a test to identify it. That's what the V2 GUI does. I'll take a look at the driver. To me it's really a question of whether enough info is exposed by the V2 framework to allow the conversion. Basically, we need roundtrip conversion between V2 unique names and V3 IDs.

[2019-06-13 21:29] CharliePoole commented on #29
This looks doable in the driver. I'll transfer the issue to that project and assign it to myself. Drivers will just need to deal with this filter type. It should not be hard since they have to generate ids anyway.

[2019-06-17 18:19] CharliePoole commented on #29
@mikkelbu @ChrisMaddock @rprouse

OK, not as easily doable in the driver alone as I hadhoped. I'll run through the options I've tried.

1. It __would__ be doable in the driver in one way: The driver would save an index to the loaded tree of tests, with the ID as key. Whenever an id filter was used, it would look up the test and then create an entirely different type of filter that selects that tes

[2019-06-19 19:49] rprouse commented on #29
The third approach seems reasonable. It is really just down to if you want to do the work or not and how much you need it for the GUI. NUnit 3.7 has 65K downloads since last October which shows there is still some use, but the tide has definitely turned with 3.11 getting over 4.5 million downloads in a similar timeframe and the latest release getting five times the downloads in a month. You've bee

[2019-06-19 20:44] CharliePoole commented on #29
Thanks. Amount of work is the least for 2, which breaks V2. Option 3 is next.

BTW, I asked because you all are the biggest consumer of NUnit V2. Each copy of the V2 framework driver gets the updated V2 core, including those bundled with NUnit.Console. In a similar period, there were about 1 million downloads of  the extension alone and 4.2 million downloads of NUnit Console. Of course, we don't k

[2019-08-21 19:50] #29 closed, assigned to CharliePoole

[2019-10-02 10:22] CharliePoole commented on #27
@ChrisMaddock I'm reviewing each issue in the light of the upcoming release.

This one IMO should get in. One of us may need to complete it if @ivanli doesn't respond on the PR. It sat idle for a long time, so he may be working on other things by now.

Additionally, the PR would need to be re-reviewed in light of the changes made by PR #30.

In any case, I think this is important enough that it sh

[2019-10-02 10:25] CharliePoole commented on #21
@ChrisMaddock Re: pre-release review

I think this may just have been fixed in V3. Perhaps the fix could be ported to V2. If so, then it's a problem for NUnitV2, not for this extension. One of us should review.

[2019-10-02 10:29] CharliePoole commented on #13
@flcdrg I know this is pretty old, but if you have sample code it would help us decide what to do.

@ChrisMaddock Re: pre-release review
This doesn't actually make sense to me. We run the tests using V2 code, so V2 addins should work. I would lean toward rejecting it if it can't be confirmed.

[2019-10-02 10:30] CharliePoole commented on #1
@ChrisMaddock I'll take a look at this one. If we can't build it on Linux, however, it is not a great loss.

[2019-10-02 10:49] flcdrg commented on #13
We have finished moving completely to v3 so this is not important to me anymore. I'll close it, but feel free to reopen it if someone else is interested

[2019-10-02 10:49] #13 closed, assigned to nobody

[2019-10-05 13:36] ChrisMaddock commented on #21
@CharliePoole This isn't something I'm able to pick up personally, I'm afraid. Given it's a 2 year old issue, I'd say it should be left out of this release, and left for any "future willing maintainer" ;-)

[2020-03-22 02:17] CharliePoole opened #33 "Create a level of support statement"
Since NUnit V2 is legacy, we need a document that tells people what kind of issues are in scope and will be accepted on this project. Should probably go in the root.

[2020-03-22 15:29] CharliePoole commented on #27
This was confirmed once but it needs to be re-confirmed because the underlying code has changed quite a bit since the issue was filed.

UPDATE: Confirmed!

[2020-03-22 15:30] CharliePoole commented on #21
This needs to be re-confirmed because of changes in the underlying code base over time.

[2020-03-22 19:04] #33 closed, assigned to CharliePoole

[2020-03-22 19:43] CharliePoole commented on #27
Keeping this as a v2 framework driver bug. Since nunitv2 actually has no Explore function the driver will have to build it on top of the framework by loading the entire assembly and subsequently applying the filter.

In fact, this adds a new feature. The rationale here is

1. Not having the feature creates a bug because the engine expects it to be present.

2. Adding the feature in nunitv2 itself

[2020-03-23 17:10] CharliePoole opened #36 "Publish 'dev' builds on MyGet"
Whenever a new feature or fix is merged to master, we should publish pre-release packages using the 'dev' label on MyGet.

[2020-03-24 02:10] CharliePoole opened #37 "Run integration tests on packages"
Integration tests (V2 tests) are currently run in the bin directory immediately after unit testing. They would be more useful and effective if run after packaging, using the content of the packages themselves. This will also help with issue #1.

[2020-03-31 14:39] #37 closed, assigned to CharliePoole

[2020-03-31 14:48] CharliePoole commented on #27
@ivanli Can you try one of the packages at https://ci.appveyor.com/project/CharliePoole/nunit-v2-framework-driver/builds/31644230/artifacts to see if it works for you?

[2020-04-05 20:14] ivanli commented on #27
Hi Charlie, it's been a while since this issue came up and we've moved to nunit v3. I can dig up the old project and give it a go sometime this week. Will update.

[2020-04-05 22:02] CharliePoole commented on #27
@ivanli Yes, it has taken a while. I only now took over this project again, so I'm cleaning up old stuff. If you are able to check it out, that will be handy but if you can't do it easily just let me know.

[2020-04-24 22:15] ivanli commented on #27
@CharliePoole Apologies for the delay for getting onto this. I've just re-ran the unit tests on our custom test runner and it now works properly. Also re-confirmed that it fails on V3.8.

Thanks very much for the fix! Looking forward to V3.9 so we can update the test runner on our end as well.

[2020-05-08 11:40] Stefan-Ilic opened #39 "Name and Fullname are the same in V3 XML format"
Hi,

I noticed that when running V3 tests with the V3 console against an assembly, the output XML's first test-suite element (with type="Assembly") has a `name` attribute, which is only the assembly name (like `Foo.dll`) and a `fullname` (like `C:\Bar\Foo.dll`).

Running V2 tests with the V3 runner and the nunit-v2-framework-driver seems to have `C:\Bar\Foo.dll` in both the `name` and `fullname` a

[2020-05-08 13:42] CharliePoole commented on #39
What versions of the v2 framework driver, v2 framework and console or other runner are you using?

[2020-05-08 14:19] Stefan-Ilic commented on #39
NUnit Framework Version: 2.6.3
NUnit.ConsoleRunner Version: 3.11.1
NUnit.Extension.NUnitV2Driver Version: 3.8.0

[2021-01-04 18:13] CharliePoole opened #40 "Automate GitHub Release Process"
Should be able to use same approach as for V2 Result Writer.

[2021-01-27 19:49] CharliePoole commented on #39
I'm confirming this for both nunit 3 and nunit v2 tests run with output format `nunit2`. At the moment, it's unclear whether fixing the driver extension will fix both problems or if the nunitv2 output writer extension will require changes as well.

[2021-09-08 16:49] CharliePoole opened #41 "Change default branch from master to main"

[2021-09-09 14:57] #41 closed, assigned to CharliePoole

[2021-09-09 22:05] CharliePoole opened #42 "Standardize build scripts for extensions"
The extension build scripts have evolved independently so they are somewhat uneven.Although they work well, it would be convenient for maintenance of the extensions if they were reasonably parallel.

The current "ideal" CI script would use the following:

* Use of loaded cake files such that the same name is used for the same purpose in each project
* Use of typed Cake context in most tasks (Build

[2021-09-10 00:57] CharliePoole commented on #42
Status of the V2 Framework Driver package...

- [x] Separate cake files
- [x] Typed cake context
- [x] Use GitVersion
- [x] Package Tests
- [x] Publish dev packages
- [x] Publish production packages
- [ ] Create GitHub draft and final releases
- [ ] Independent rerun of publication and release steps

[2021-09-14 14:17] #42 closed, assigned to CharliePoole

[2021-09-14 14:57] CharliePoole commented on #36
Fixed as part of #42

[2021-09-14 14:57] #36 closed, assigned to CharliePoole

[2021-09-14 14:59] CharliePoole opened #45 "Automate the GitHub release process"

[2021-09-14 22:50] #39 closed, assigned to nobody

[2021-09-14 22:54] #40 closed, assigned to nobody

[2021-09-27 15:14] #27 closed, assigned to CharliePoole

[2021-09-27 16:47] CharliePoole commented on #27
@ivanli @ChrisMaddock @jnm2

This will be sure to confuse someone in the future - maybe even future me! So...

@ivanli did a PR (#28) which needed a bit more work, so I used his branch to create a new one along with PR #35. That one, however, was automatically closed (I think) when I changed the name of 'master' branch to 'main'. So, I started a new PR (#47), which has now finally been merged.

I

[2021-09-28 21:39] #21 closed, assigned to CharliePoole

[2021-09-28 22:15] #45 closed, assigned to CharliePoole

[2021-09-29 00:38] CharliePoole commented on #45
:tada: This issue has been resolved in version 3.9.0 :tada:

The release is available on:

- [GitHub Release](https://github.com/nunit/nunit-v2-framework-driver/releases/tag/3.9.0)
- [NuGet Package](https://www.nuget.org/packages/NUnit.Extension.NUnitV2ResultWriter/3.9.0)
- [Chocolatey Package](https://chocolatey.org/packages/nunit-extension-nunit-v2-result-writer/3.9.0)

[2021-09-29 00:38] CharliePoole commented on #41
:tada: This issue has been resolved in version 3.9.0 :tada:

The release is available on:

- [GitHub Release](https://github.com/nunit/nunit-v2-framework-driver/releases/tag/3.9.0)
- [NuGet Package](https://www.nuget.org/packages/NUnit.Extension.NUnitV2ResultWriter/3.9.0)
- [Chocolatey Package](https://chocolatey.org/packages/nunit-extension-nunit-v2-result-writer/3.9.0)

[2021-09-29 00:38] CharliePoole commented on #42
:tada: This issue has been resolved in version 3.9.0 :tada:

The release is available on:

- [GitHub Release](https://github.com/nunit/nunit-v2-framework-driver/releases/tag/3.9.0)
- [NuGet Package](https://www.nuget.org/packages/NUnit.Extension.NUnitV2ResultWriter/3.9.0)
- [Chocolatey Package](https://chocolatey.org/packages/nunit-extension-nunit-v2-result-writer/3.9.0)

[2021-09-29 00:38] CharliePoole commented on #39
:tada: This issue has been resolved in version 3.9.0 :tada:

The release is available on:

- [GitHub Release](https://github.com/nunit/nunit-v2-framework-driver/releases/tag/3.9.0)
- [NuGet Package](https://www.nuget.org/packages/NUnit.Extension.NUnitV2ResultWriter/3.9.0)
- [Chocolatey Package](https://chocolatey.org/packages/nunit-extension-nunit-v2-result-writer/3.9.0)

[2021-09-29 00:38] CharliePoole commented on #40
:tada: This issue has been resolved in version 3.9.0 :tada:

The release is available on:

- [GitHub Release](https://github.com/nunit/nunit-v2-framework-driver/releases/tag/3.9.0)
- [NuGet Package](https://www.nuget.org/packages/NUnit.Extension.NUnitV2ResultWriter/3.9.0)
- [Chocolatey Package](https://chocolatey.org/packages/nunit-extension-nunit-v2-result-writer/3.9.0)

[2021-09-29 00:38] CharliePoole commented on #37
:tada: This issue has been resolved in version 3.9.0 :tada:

The release is available on:

- [GitHub Release](https://github.com/nunit/nunit-v2-framework-driver/releases/tag/3.9.0)
- [NuGet Package](https://www.nuget.org/packages/NUnit.Extension.NUnitV2ResultWriter/3.9.0)
- [Chocolatey Package](https://chocolatey.org/packages/nunit-extension-nunit-v2-result-writer/3.9.0)

[2021-09-29 00:38] CharliePoole commented on #33
:tada: This issue has been resolved in version 3.9.0 :tada:

The release is available on:

- [GitHub Release](https://github.com/nunit/nunit-v2-framework-driver/releases/tag/3.9.0)
- [NuGet Package](https://www.nuget.org/packages/NUnit.Extension.NUnitV2ResultWriter/3.9.0)
- [Chocolatey Package](https://chocolatey.org/packages/nunit-extension-nunit-v2-result-writer/3.9.0)

[2021-09-29 00:38] CharliePoole commented on #36
:tada: This issue has been resolved in version 3.9.0 :tada:

The release is available on:

- [GitHub Release](https://github.com/nunit/nunit-v2-framework-driver/releases/tag/3.9.0)
- [NuGet Package](https://www.nuget.org/packages/NUnit.Extension.NUnitV2ResultWriter/3.9.0)
- [Chocolatey Package](https://chocolatey.org/packages/nunit-extension-nunit-v2-result-writer/3.9.0)

[2021-09-29 00:38] CharliePoole commented on #27
:tada: This issue has been resolved in version 3.9.0 :tada:

The release is available on:

- [GitHub Release](https://github.com/nunit/nunit-v2-framework-driver/releases/tag/3.9.0)
- [NuGet Package](https://www.nuget.org/packages/NUnit.Extension.NUnitV2ResultWriter/3.9.0)
- [Chocolatey Package](https://chocolatey.org/packages/nunit-extension-nunit-v2-result-writer/3.9.0)

[2021-09-29 00:38] CharliePoole commented on #21
:tada: This issue has been resolved in version 3.9.0 :tada:

The release is available on:

- [GitHub Release](https://github.com/nunit/nunit-v2-framework-driver/releases/tag/3.9.0)
- [NuGet Package](https://www.nuget.org/packages/NUnit.Extension.NUnitV2ResultWriter/3.9.0)
- [Chocolatey Package](https://chocolatey.org/packages/nunit-extension-nunit-v2-result-writer/3.9.0)

[2022-04-12 12:39] nataliaheliova opened #51 "V2 Framework Driver not picked up"
Hey there,

I have a .NET 6.0 console project which references NUnit.Engine 3.14.0 and NUnit.Extension.NUnitV2Driver 3.9.0. When I try to run NUnit2 tests from test assembly (targeting .NET Framework 4.8, referencing NUnit 2.6.4), I get the following result:

```Either assembly contains no tests or proper test driver has not been found.```

According to the documentation, V2 Framework Driver shoul

[2022-04-12 15:01] CharliePoole commented on #51
There are two problems:

1. The driver is being referenced by your project rather than being installed as an engine extension. Normally extensions are not referenced in this way. I recognize that you may be using the reference simply to get the extension to be copied to the correct directory, however.

2. Your project is targeting .NET 6.0, the engine reference pulls in the a .NET Core version of